<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <ul class="navbar-nav">
      <li><a href="/" class="navbar-brand"><i class="fas fa-shipping-fast text-warning fa-2x">Tdac Shop</i></a></li>
      <li class="navbar-item"><a style="color: white;" href="/">หน้าแรก</a></li>
      <li class="navbar-item"><a style="color: white;" href="/admin">เข้าสู่ระบบ</a></li>
      <li><form class="d-flex" method="GET" action="/search" >
          <input class="form-control me-2" type="search" placeholder="ค้นหา" aria-label="Search" name="keyword">
          <button class="btn btn-outline-warning" type="submit">ค้นหา</button>
        </form>
      </li>
  </ul>
</nav>



  



